

/*--flexisel--*/
.work-bottom{	
/*--background:#f7f8fa;--*/
padding: 30px 0px;
padding-top: 10px;
}
.media{
margin:0 10px;
}
.media img{
width:100%;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 20px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Navigation ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:24px;
	height:24px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
left: 47.7%;
top: 113% !important;
background: url(../images/themes.png) no-repeat 0px 0px;
}
.nbs-flexisel-nav-right {
right: 47.7%;
top: 113% !important;
background: url(../images/themes.png) no-repeat -24px 0px;
}
/*--//flexisel--*/

